// Variables

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

$bodyfont:'IBM Plex Sans', sans-serif;
$headingfont:'Rubik', sans-serif;;

$p100: 100%;

$sid-bar-w: 10px;
$hed-max: 120px;
$main-hed-nav: 70px;
$default-border-radius: 3px;
$fct-border-radius: 3px;
$border-circle: 50%;
$mini-sid-bar-w: 80px;
$ctrl-sid-bar-w: 345px;
$inn-pg-sid-bar-w: 280px;

// Typography
//
// Font-size, font-weight


$fw-unset:unset;
$fw-100:100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
$fw-light: 100;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-0: 0;
$fs-10: 0.7143rem;
$fs-12: 0.8571rem;
$fs-14: 1rem;
$fs-16: 1.143rem;
$fs-18: 1.286rem;
$fs-20: 1.429rem;
$fs-22: 1.5714285714285714rem;
$fs-24: 1.714rem;
$fs-26: 1.857rem;
$fs-30: 2.143rem;
$fs-32: 2.2857142857142856rem;
$fs-36: 2.5714285714285716rem;
$fs-38: 2.7142857142857144rem;
$fs-40: 2.857rem;
$fs-42: 3rem;
$fs-46: 3.2857142857142856rem;
$fs-48: 3.4285714285714284rem;
$fs-50: 3.571rem;
$fs-60: 4.286rem;
$fs-70: 5rem;
$fs-72: 5.142857142857143rem;
$fs-76: 5.428571428571429rem;
$fs-78: 5.571428571428571rem;
$fs-80: 5.714rem;
$fs-100: 7.142857142857143rem;
$fs-140: 10rem ;
$fs-180: 12.857142857142858rem;
$fs-200: 14.285714285714286rem ;

/*Social Media Colors*/
$facebook: #3b5998;
$google: #dd4b39;
$twitter: #1da1f2;
$linkedin: #0077b5;
$pinterest: #bd081c;
$git: #6cc644;
$tumblr: #35465c;
$vimeo: #1ab7ea;
$youtube: #ff0000;
$flickr: #ff0084;
$reddit: #ff4500;
$dribbble: #ea4c89;
$skype: #00aff0;
$instagram: #e1306c;
$lastfm: #d51007;
$behance: #1769ff;
$rss: #f26522;
$bitbucket: #205081;
$dropbox: #007ee5;
$foursquare: #2d5be3;
$github: #4078c0;
$vk: #45668e;

/*Theme Colors*/

$dark: #475f7b;
$light:#d5dfea;
$light2:#fafafa;
$light3: #f2f5fa;
$light4: #dfe3e7;
$light5: #bac0c7;
$white:#ffffff;
$black:#000000;
$danger:#ff3f3f;
$warning:#ffa800;
$success:#18d26b;
$primary:#0080ff;
$info:#00b8d4;
$secondary:#93b4d4;
$mildgray: #8c98a5;

/*Theme Colors For Dark*/
$body-dark: #1a233a;
$dark-text: #8a99b5;
$dark2: #30466b;
$dark3: #141d33;
$dark-title: #bdd1f8;

$colors: (
  'primary':   $primary,
  'success':   $success,
  'info':      $info,
  'warning':   $warning,
  'danger':    $danger,
  'dark':      $dark,
  'white':     $white,
  'black':     $black,
  'light':     $light,
);

$gray-100:      #f3f6f7;
$gray-200:      #eff2f9;
$gray-300:      #dbe0ec;
$gray-400:      #b6c2e4;
$gray-500:      #8997bd;
$gray-600:      #7081b9;
$gray-700:      #50649c;
$gray-800:      #435177;
$gray-900:      #1c2d41;


$theme-primary-primary: #0080ff;
$theme-primary-secondary:#93b4d4;
$theme-primary-info: #00b8d4;
$theme-primary-success: #18d26b;
$theme-primary-danger: #ff3f3f;
$theme-primary-warning: #ffa800;

$theme-primary-grd: linear-gradient(45deg, $theme-primary-primary, $theme-primary-info);
$theme-primary-grd-dark: linear-gradient(45deg, darken($theme-primary-primary, 20%), darken($theme-primary-info, 20%));


$theme-secondary-primary: #93b4d4;
$theme-secondary-secondary:#0080ff;
$theme-secondary-info: #00b8d4;
$theme-secondary-success: #18d26b;
$theme-secondary-danger: #ff3f3f;
$theme-secondary-warning: #ffa800;

$theme-secondary-grd: linear-gradient(45deg, $theme-secondary-primary, $theme-secondary-info);
$theme-secondary-grd-dark: linear-gradient(45deg, darken($theme-secondary-primary, 20%), darken($theme-secondary-info, 20%));

$theme-info-primary: #00b8d4;
$theme-info-secondary:#93b4d4;
$theme-info-info: #0080ff;
$theme-info-success: #18d26b;
$theme-info-danger: #ff3f3f;
$theme-info-warning: #ffa800;

$theme-info-grd: linear-gradient(45deg, $theme-info-primary, $theme-info-info);
$theme-info-grd-dark: linear-gradient(45deg, darken($theme-info-primary, 20%), darken($theme-info-info, 20%));

$theme-success-primary: #18d26b;
$theme-success-secondary:#93b4d4;
$theme-success-info: #00b8d4;
$theme-success-success: #0080ff;
$theme-success-danger: #ff3f3f;
$theme-success-warning: #ffa800;

$theme-success-grd: linear-gradient(45deg, $theme-success-primary, $theme-success-info);
$theme-success-grd-dark: linear-gradient(45deg, darken($theme-success-primary, 20%), darken($theme-success-info, 20%));

$theme-danger-primary: #ff3f3f;
$theme-danger-secondary:#93b4d4;
$theme-danger-info: #00b8d4;
$theme-danger-success: #18d26b;
$theme-danger-danger: #0080ff;
$theme-danger-warning: #ffa800;

$theme-danger-grd: linear-gradient(45deg, $theme-danger-primary, $theme-danger-info);
$theme-danger-grd-dark: linear-gradient(45deg, darken($theme-danger-primary, 20%), darken($theme-danger-info, 20%));

$theme-warning-primary: #ffa800;
$theme-warning-secondary:#93b4d4;
$theme-warning-info: #00b8d4;
$theme-warning-success: #18d26b;
$theme-warning-danger: #ff3f3f;
$theme-warning-warning: #0080ff;

$theme-warning-grd: linear-gradient(45deg, $theme-warning-primary, $theme-warning-info);
$theme-warning-grd-dark: linear-gradient(45deg, darken($theme-warning-primary, 20%), darken($theme-warning-info, 20%));








